#menu-navbar{
    float: left;
    margin-left: 25px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 25px;
    width: 95%;
    background: rgba(65, 65, 65, 0.9);
}

#menu-loginbar{
    float: right;
    width: 150px;
}
#menu-loginbar, button{
    margin-left: 2px;
}

#espacamento{
    margin: 60px;
    margin-left: 80px;
}

#filmList{
    border-color: black;
    border-style: solid;
    display: inline-block;
    margin: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

#fvimg{
    float: left;
    border-color: black;
    border-style: solid;
    margin-right: 20px;
}

#fvinfo{
    margin: 20px;
    padding-top: 20px;
    padding-right: 120px;
}

#usuarioList{
    border-color: black;
    border-style: solid;
    display: inline-block;
    margin: 15px;
    
}

#usuarioImg{
    float: left;
    margin-right: 20px; 
}

.perfilLabel{
    margin-top:5px;
}

.pp{
    padding: 25px;
}

table {
    border: solid 1px black;
    width: 1000px;
    height: 70px;
    margin-top: 270px;
    margin-left: 25%;
    margin-right: 50%;
    color: white;
    text-align: center;
    background: rgba(65, 65, 65, 0.8);
}
td{
    border: solid 1px black;
    width: 1000px;
    height: 70px;
    margin-top: 250px;
    color: black;
    margin-left: 25%;
    text-align: center;
    margin-right: 50%;
    background: white;
}


#log{
    border: solid 3px black;
    border-radius: 15px; 
    padding: 10px;
    width: 30%;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button{
    border: none;
    padding: 8px;
}